services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  backend:
    image: <DOCKERHUB_USERNAME>/crud-dd-backend:latest
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db
      - PORT=8080
    depends_on:
      - mongo
    restart: unless-stopped
    networks:
      - appnet

  frontend:
    image: <DOCKERHUB_USERNAME>/crud-dd-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge
    
